%html
  :css
    body {
      font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
      padding: 1em;
    }
    h3 {
      margin-top: 2em;
    }

  %body
    %h2 Sad kittens in the last 24 hours

    - if !protected

      %p
        Please set HTTP_AUTH_USER and HTTP_AUTH_PASSWORD.

    - else

      %p
        %a{href: '/404'} Lost kittens in last hour (404)

      %h3 Timeouts (#{router_timeouts.count})
      %table
        %tr
          %th Count
          %th Method
          %th Host
          %th Path
        - router_timeouts.each do |log|
          %tr
            %td= log[:count]
            %td= log[:method]
            %td= log[:host]
            %td= log[:path]

      %h3 500s (#{router_500_errors.count})
      %table
        %tr
          %th Count
          %th Method
          %th Host
          %th Path
          %th Status
        - router_500_errors.each do |log|
          %tr
            %td= log[:count]
            %td= log[:method]
            %td= log[:host]
            %td= log[:path]
            %td= log[:status]

      %h3 Postgres Log Events (#{postgres_events.count})
      %table
        %tr
          %th
          %th Proc ID
          %th Message
        - postgres_events.each do |event|
          %tr
            %td= event[:emitted_at].strftime('%b-%d %R')
            %td= event[:proc_id]
            %td= event[:message]
